.App {
  text-align: center;
}

h1 {
  font-weight: 400;
  color: rgba(129, 49, 49, 0.486);
  font-size: 4rem;
  margin: 0;
}

.List{
  margin-top: 0.8rem;
}

form {
  max-width: 35%;
  margin: 0 auto;
}

.type {
  height: 2.8rem;
  width: 100%;
  font-size: 1.6rem;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  color: rgb(105, 120, 134);
  font-weight: lighter;
  box-sizing: border-box;
}

button {
  width: auto;
  height: 1.5rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
  box-sizing: border-box;
  color: #777;
  margin-left: 0.3rem;
}

button:hover {
  border: 1px solid rgba(144, 33, 33, 0.582);
}
button:active, button:focus {
  border: 1px solid rgba(144, 33, 33, 0.582);
}

.theList {
  max-width: 35%;
  list-style: none;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  margin-top: -1px;
}

li {
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  margin-top: -1px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.option {
  opacity: 0.4;
}

.option:hover{
  opacity: .9;
  color: rgba(121, 39, 39, 0.89);
}

.edit {
  border: none;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6rem;
  outline: none;
  width: 87%;
}

footer {
  display: flex;
  font-size: 1rem;
  align-items: center;
  color: #777;
  height: 2rem;
  padding-left: 1rem;
}

.moreOpacity {
  opacity: 1;
  color: black;
}

.lessOpacity {
  opacity: 0.3;
}

span {
  flex: 1;
}

.anticon {
  display: inline-flex;
  outline: none;
}

.anticon-down {
  flex: inherit;
  margin-right: 1rem;
}